html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  background-color: #171836;
  color: black;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.logo {
  margin-right: 148px;
}
.list {
  margin: 0;
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.item:not(:last-child) {
  margin-right: 44px;
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease-in-out;
}
.item:hover .link {
  color: white;
}
.btn {
  margin-left: 31px;
  padding: 10px 30px;
  background-color: #f5443b;
  border: 2px #f5443b solid;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: transparent;
}
.lang select {
  background-color: transparent;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 150%;
  color: #d1d1d7;
}
.lang {
  display: flex;
  align-items: center;
}
.lang::before {
  content: "";
  background-image: url(./../img/lang.png);
  width: 24px;
  height: 24px;
  display: block;
}
.logofooter-img {
  margin-bottom: 8px;
}
.text-footer {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */

  color: rgba(255, 255, 255, 0.8);

  opacity: 0.6;
}
.connect {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.item:not(:last-child) {
  margin-right: 44px;
}
.footer-container {
  margin-bottom: 86px;
  display: flex;
  flex-wrap: wrap;
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
.footer-head {
  margin-right: auto;
}

.footer-item:not(:last-child) {
  margin-right: 81px;
}
.connect-item:not(:last-child) {
  margin-right: 32px;
}

.footer-item h3 {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}

.footer-item li a {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.footer-item li:not(:last-child) {
  margin-bottom: 20px;
}

.footer-item li:hover > a {
  color: #ffffff;
  opacity: 1;
}

.deep {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #8f91d0;
}
